$text-white-color: #ffffff;
$text-black-color: #030303;
$background-white-color: #ffffff;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$animation-duration: 250ms;
$acent-color: #8e82dd;
$main-transition: $animation-duration $timing-function;
